//
//  xenaud.rc
//
//


#include <windows.h>
#include <ntverp.h>

#include "verinfo.h"

#define VER_INTERNALNAME_STR        "xenaud.sys"
#define VER_FILEDESCRIPTION_STR     "OpenXT Xen AC97 Audio Driver"
#define VER_ORIGINALFILENAME_STR    "xenaud.sys"

#define VER_FILETYPE                VFT_DRV
#define VER_FILESUBTYPE             VFT2_DRV_SYSTEM

#include "common.ver"
