*~
*.suo
*.user
bin/
obj/
Debug/
Release/
*.ncb
*Thumbs.db
_UpgradeReport_Files/
build/
*.obj
*.tmh
*.mac
*.res
*.orig
*.rej
*.aps
install/license.txt
install/xensetup.exe
sign32/
sign64/
objchk_*
objfre_*
xenvss/provider/xenvssprovider.*
xenvss/provider/dlldata.c
xenvss/provider/eventlogmsgs.h
xenvss/provider/xenvssprovider_i.*
xenvss/provider/xenvssprovider_p.*
*build*.log
*build*.err
*build*.wrn
